/* Styles for Uber page */

/* overall */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

*{
  margin:0;
}

html,body{
  height:100%;
}

.content-box,.sidebar{
  display:inline;
}

.container{
  font-family:'Droid Sans',serif;
  margin:0 auto;
  width:100%;
}

.sidebar{
  width:20%;
  float:left;
  height:100%;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}


.content-box{
  width:77%;
  height:100%;
  float:right;
}


/* Sidebar */

.profile-picture{
  margin-top:20px;
  border-radius:200px;
  border:1px solid #ccc;
}
.your-profile{
  margin-left:20px;
  margin-top:20px;
}
.meter {
  margin-left:20px;
  margin-top:10px;
  width:90%;
	height: 10px;  /* Can be anything */
	position: relative;
	background: #eee;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color:#d83232;
  position: relative;
  overflow: hidden;
}

.profile-meta{
  margin-top:10px;
}

.profile-meta p{
  padding-left:20px;
  padding-top:5px;
}

.tick{
  height:16px;
  vertical-align:-2px;
  margin-right:3px;
}

.unchecked{
  opacity:0.3;
}

.menu{
  margin-top:20px;
}

.menu p{
  border-top:0.1em solid #ccc;
  padding:15px;
}


/* Content Box */

.top-strip{
  margin-top:30px;
}

.filter{
  color:#32b3d8
}

.content-box-header{

}

.fancy-table{
  margin-top:60px;
}


.fancy-table tr>th{
  width:180px;
  text-align:left;
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
}


.fancy-table tr>td{
  border-bottom:1px solid #ccc;
}

td{
  width:180px;
  padding-top:20px;
  padding-bottom:20px;
}
